.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #f9fafb; /* Light gray */
    border-radius: 0.5rem;
    font-family: "Courier New", Courier, monospace;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: red; /* Dark purple */
    border: 4px solid red;
    padding: 0.5rem;
    text-transform: uppercase;
}

.diagramWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    width: 100%;
    max-width: 80rem;
}

.svgContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center content vertically */
    overflow: visible; /* Allow elements to extend beyond the container */
}

.svg {
    width: 11rem;
    height: 11rem;
    border: 1px solid #d1d5db; /* Gray border */
    padding: 0.5rem;
    background-color: white;
}

.text {
    font-size: 1.125rem;
    font-weight: 600;
    color: black;
    margin-top: 0.25rem;
}

/* Take Action! */
.buttonWrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.takeActionButton {
  background-color: red;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.takeActionButton:hover {
  background-color: darkred;
}

.flashingButton {
  background-color: #fbe87d; /* Bright yellow */
  color: black; /* Black text for contrast */
  border: 3px solid #fbe87d; /* Initial border color */
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold; /* Make the text bold */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  animation: flashing-border 1s infinite; /* Add flashing animation */
  transition: transform 0.2s, box-shadow 0.2s; /* Smooth hover effect */
}

@keyframes flashing-border {
  0% {
    border-color: #ffd700; /* Bright yellow */
  }
  50% {
    border-color: #ffc107; /* Slightly darker yellow */
  }
  100% {
    border-color: #ffd700; /* Bright yellow */
  }
}

.flashingButton:hover {
  background-color: #ffc107; /* Slightly darker yellow on hover */
  transform: scale(1.05); /* Slightly enlarge the button */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Enhance shadow on hover */
}